h1{
    color: rgb(200, 221, 7);
    padding-top: 20px;
    
}
h2{
    color: rgb(40, 95, 156);
    padding-top: 20px;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}
nav{
    flex: 100px;
    display: grid;
}
img{
    height: 400px;
}
